@{
    int id = ViewBag.ID;
    ViewBag.Title = string.Format("Display #{0}", id);
}

<div class="display" data-id="@id" data-url="@Url.Action("Index", "Ajax")"></div>

@section scripts{
    <script>
        $(document).on("keydown", function (e) {
            if (e.keyCode == 65) // when 'a' is pressed go to admin page
                window.location = '@Url.Action("Admin", new { id })';
            else if (e.keyCode == 82) // when 'r' is pressed refresh
                window.location.reload(true);
        });

        $(".display").display({ interval: 60000 });
    </script>
}